@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
  font-family: "Doto", sans-serif;
}
h1 {
  font-family: "Doto", sans-serif;
  color: rgb(27, 27, 27);
  text-align: center;
  padding: 2.5rem;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-img {
  width: 350px;
}

/*hidde screen*/
#game-container {
  display: none;
  justify-content: center; /* centraliza na horizontal */
  align-items: center; /* centraliza na vertical */
  height: 100vh; /* altura da tela toda */
}

#game-area {
  display: none;
  position: relative; /* necessário para posicionar filhos com position absolute */
  background-image: url(../images/oceanBg2.png);
  width: 900px;
  height: 450px;
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#panel {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black; /* ou outra cor que contraste com o fundo */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* leve transparência para visibilidade */
  padding: 10px;
  border-radius: 10px;
  font-size: 0.5rem;
}

#game-area {
  display: none;
  position: relative;
  background-image: url(../images/oceanBg2.png);
  width: 900px;
  height: 450px;
  padding: 1rem;
  background-size: cover; /* Preenche todo o espaço */
  background-repeat: no-repeat;
  background-position: center;
}

#gameover-screen {
  display: none;
}
