@import url(https://fonts.googleapis.com/css?family=VT323);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}
h1 {
  font: "VT323", monospace;
  color: rgb(27, 27, 27);
  text-align: center;
  padding: 2.5rem;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12rem;
  align-items: center;
  font-family: "VT323", monospace;
  text-align: center;
}

button {
  background: #7c7c7c;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  margin: 1rem;
  min-width: 100px;
  padding: 0.1rem;
  text-transform: uppercase;
  width: auto;

  &:focus,
  &:hover {
    background: #bcbcbc;
  }
}

.logo-img {
  width: 350px;
}

/*hidde screen*/
#game-container {
  display: none;
  justify-content: center; /* centraliza na horizontal */
  align-items: center; /* centraliza na vertical */
  height: 100vh; /* altura da tela toda */
}

#game-area {
  display: none;
  position: relative; /* necessário para posicionar filhos com position absolute */
  background-image: url(../images/oceanBg2.png);
  width: 900px;
  height: 450px;
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#panel {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black; /* ou outra cor que contraste com o fundo */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* leve transparência para visibilidade */
  padding: 20px;
  border-radius: 10px;
  font-size: 0.7rem;
}

#progressBar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.bar {
  height: 100%;
  width: 100%; /* começa cheia */
  background-color: #76c7c0;
  transition: width 1s linear;
}

#game-area {
  display: none;
  position: relative;
  background-image: url(../images/oceanBg2.png);
  width: 900px;
  height: 450px;
  padding: 1rem;
  background-size: cover; /* Preenche todo o espaço */
  background-repeat: no-repeat;
  background-position: center;
}

#gameover-screen {
  display: none;
}
